<h1> Hello Dashboard </h1>

<h2> The Dashboard todo: </h2>

<ul>
  <li> show the user graphics about books they read </li>
  <li> show the user's graphs about the books they have favortie </li>
</ul>

<p> The Bookmark application is for users who want to connect and chat about books they read. </p>
