<p style="color: green"><%= notice %></p>

<h1> Your Favorites </h1>
<div class="beating-heart">
  <i class="fas fa-heart heart-icon" ></i>
</div>

<style>
    .beating-heart {
        animation: beat 1s 3; /* Use 'infinite' to make it beat continuously */
    }

    @keyframes beat {
        0%, 100% {
            transform: scale(1);
        }
           50% {
            transform: scale(1.2);
        }
    }

</style>
<hr>

<div class="cards-container">
  <% @follows.each do |follow| %>
    <%= render follow %>
  <% end %>
</div>

 
