<p style="color: green"><%= notice %></p>

<h1>Follows</h1>

<div id="follows">
  <% @follows.each do |follow| %>
    <%= render follow %>
    <p>
      <%= link_to "Show this book", Book %>
    </p>
  <% end %>
</div>

 
