
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  position: relative;
}

.beating-heart {
  animation: beat 1s infinite;

  @keyframes beat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
}

.heart-icon {
  font-size: 2em;
  color: red;
}

#navbar {
  position: fixed;
}


.color {
  color: white;
  padding: 5px;
}
